In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import os

In [2]:
os.chdir('/Users/shaobingying/Desktop')

In [3]:
data = pd.read_csv('HireArt - Data Analyst Exercise 10.12.17 - Sheet1.csv',sep=',',
                   parse_dates=['Date of Contact'])

In [4]:
data.head(5)

  Account manager                 Client Name Date of Contact
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-07
2     Milan Crona             Armstrong Group      2013-11-02
3    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25
4   Chauncey Dach                Abbott Group      2016-03-21

#### Question: Account managers would like to get in touch with as many of their clients as possible each month. In which month of the year does the team contact the greatest percentage of its clients?

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
Account manager    1000 non-null object
Client Name        1000 non-null object
Date of Contact    1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 23.5+ KB

In [6]:
print("# of unique Date of Contact:", data['Date of Contact'].unique().size)

# of unique Date of Contact: 703

In [7]:
def convert_datetime(row):
    d = datetime.strptime(str(row['Date of Contact']),'%Y-%m-%d %H:%M:%S')
    return str(d.year) + '-' + str(d.month)

In [8]:
data['year_month'] = data.apply(convert_datetime,axis=1)

In [9]:
data.head(5)

  Account manager                 Client Name Date of Contact year_month
0     Milan Crona     Wyman, Farrell and Haag      2015-10-31    2015-10
1    Aidan Pouros  Veum, McClure and Schuster      2013-12-07    2013-12
2     Milan Crona             Armstrong Group      2013-11-02    2013-11
3    Aidan Pouros   Lueilwitz, Moore and Hahn      2013-12-25    2013-12
4   Chauncey Dach                Abbott Group      2016-03-21     2016-3

In [10]:
contact_count = pd.crosstab(data.year_month, data['Account manager'])

In [11]:
contact_count.sum().sum()

1000

In [12]:
contact_count['Total_count_percentage'] = contact_count.sum(axis=1)/1000

In [13]:
contact_count.sort_values(by='Total_count_percentage')

Account manager,Aidan Pouros,Chauncey Dach,Milan Crona,Rigoberto White,Total_count_percentage
year_month,,,,,
2016-7,2,5,4,0,0.011
2017-1,2,1,5,4,0.012
2016-11,6,2,3,1,0.012
2017-4,2,4,3,3,0.012
2014-2,1,3,5,3,0.012
2014-3,3,5,3,1,0.012
2014-4,3,2,5,2,0.012
2017-3,2,6,5,0,0.013
2014-1,1,2,4,6,0.013
2016-4,4,6,1,2,0.013
2017-2,4,1,7,2,0.014
2015-1,2,4,4,4,0.014
2015-3,3,2,5,4,0.014
2017-7,5,3,4,2,0.014
2016-8,3,4,6,2,0.015
2015-4,1,4,5,5,0.015
2015-12,3,3,5,5,0.016
2015-6,3,2,5,6,0.016
2017-5,3,3,8,2,0.016
2017-6,2,5,8,1,0.016
2015-11,3,4,3,6,0.016
2016-5,6,4,1,6,0.017
2014-5,2,5,6,5,0.018
2015-5,5,6,3,4,0.018
2014-11,5,3,6,4,0.018
2016-2,7,4,3,4,0.018
2013-11,8,7,3,1,0.019
2016-3,2,5,7,5,0.019
2013-12,7,3,4,5,0.019
2014-12,7,2,3,7,0.019
2017-8,2,5,7,5,0.019
2015-2,6,5,5,4,0.020
2015-7,2,4,9,5,0.020
2015-8,5,4,5,6,0.020
2016-1,3,7,5,6,0.021
2014-7,4,4,7,6,0.021
2016-6,9,3,5,5,0.022
2016-12,6,5,8,3,0.022
2014-6,7,7,6,3,0.023
2014-8,5,8,7,5,0.025
2016-9,4,8,11,5,0.028
2015-9,8,9,7,5,0.029
2017-9,2,6,8,15,0.031
2014-9,7,7,10,9,0.033
2016-10,13,11,12,6,0.042
2015-10,17,14,11,11,0.053
2014-10,17,11,15,15,0.058
2013-10,15,25,14,6,0.060

#### Answer: In October 2013, the team contact the greatest percentage of its clients, which is 6% of the total contact number.